---
import PageLayout from "@/layouts/PageLayout.astro";
import IconLink from "@/components/IconLink.astro";
import BackgroundTexture from "../components/BackgroundTexture.astro";
import { Image } from "astro:assets";

// Import logos
import coolopLogo from "@/assets/logos/coloop.png";
import fanksLogo from "@/assets/logos/fanks.png";
import outBoulderingLogo from "@/assets/logos/out-buildering.png";
import expLogo from "@/assets/logos/exp.png";
import helioLogo from "@/assets/logos/helio.png";
import ycLogo from "@/assets/logos/yc.png";
import spacexLogo from "@/assets/logos/spacex.png";
import capturedAboveLogo from "@/assets/logos/capturedabove.png";
import coloopNewLogo from "@/assets/logos/coloop-new.png";

// Import tech icons
import typescriptIcon from "@/assets/techs/typescript.svg";
import bunIcon from "@/assets/techs/bun.svg";
import nextjsIcon from "@/assets/techs/nextjs.svg";
import svelteIcon from "@/assets/techs/svelte.svg";
import rustIcon from "@/assets/techs/rust.svg";
import tailwindIcon from "@/assets/techs/tailwindcss.svg";
import pythonIcon from "@/assets/techs/python.svg";
import awsIcon from "@/assets/techs/aws.svg";

const techStack = [
  { name: "TypeScript", icon: typescriptIcon },
  { name: "Bun", icon: bunIcon },
  { name: "Next.js", icon: nextjsIcon },
  { name: "SvelteKit", icon: svelteIcon },
  { name: "Rust", icon: rustIcon },
  { name: "Tailwind", icon: tailwindIcon },
  { name: "Python", icon: pythonIcon },
  { name: "AWS", icon: awsIcon },
];
---

<PageLayout title="oscarama | software eng">
  <h1 class="text-3xl font-bold">oscar falemara</h1>
  <div class="flex flex-col mt-8">
    <p class="text-sm text-white/70">
      i'm a self-taught software engineer from 📍 London, currently working as a full-stack web dev
      at
      <IconLink
        href="https://coloop.ai"
        src={coolopLogo.src}
        alt="coloop ai"
        text="coloop ai"
              />
      (yc s21)
    </p>
  </div>

  <h2 class="text-xl mt-8 sm:mt-12 md:mt-16">some other things I'm working on</h2>
  <ul class="text-sm text-white/70 mt-8">
    <li>
      helping build better community-brand matching @
      <IconLink href="https://fanks.co" src={fanksLogo.src} alt="fanks" text="fanks" client:load />
    </li>
    <li>
      running bouldering events in London @
      <IconLink
        href="https://luma.com/outventuring"
        src={outBoulderingLogo.src}
        alt="outventuring"
        text="out venturing"
              />
    </li>
    <li>
      community & events @
      <IconLink
        href="https://events.coloop.ai"
        src={coloopNewLogo.src}
        alt="coloopevents"
        text="coloop events"
              />
    </li>
  </ul>
  <h3 class="mt-4">past</h3>
  <ul class="text-sm text-white/70 mt-4">
    <li>
      built bot systems from the ground up @
      <IconLink href="https://discord.gg/exp" src={expLogo.src} alt="EXP" text="EXP" client:load />,
      with bank systems handling $100,000s of in game value, helping it grow from 2k to 45k+ members
    </li>
    <li>
      spent a few months freelancing @ a crypto payments startup, <IconLink
        href="https://hel.io"
        src={helioLogo.src}
        alt="helio"
        text="helio"
              />
    </li>
  </ul>

  <h2 class="text-xl mt-8 sm:mt-12 md:mt-16">fun facts about me</h2>
  <ul class="text-sm text-white/70 mt-8">
    <li>
      at age 18, before I even finished high school, I joined a <IconLink
        href="https://coloop.ai"
        src={ycLogo.src}
        alt="YC Startup"
        text="YC Startup"
              /> as a full time software engineer
    </li>
    <li>
      my passion is aerospace 🚀, and I wanna start an <IconLink
        href="https://spacex.com"
        src={spacexLogo.src}
        alt="spacex"
        text="aerospace company"
              /> some day
    </li>
    <li>in my time off, I like to climb 🏔️ mountains , 🥾 hike, 🧗 boulder and rock climb</li>
    <li>
      at age 17, I spent a few months freelancing @ a crypto payments startup, <IconLink
        href="https://hel.io"
        src={helioLogo.src}
        alt="helio"
        text="helio"
              /> (which later <a
        href="https://www.moonpay.com/en-gb/newsroom/helio-acquisition"
        target="_blank"
        class="underline">sold for $175m</a
      >)
    </li>
    <li>
      I love photography/videography, so at age 16, I started a drone business with a friend as an
      economic excuse to buy a drone @ <IconLink
        href="https://capturedabove.vercel.app"
        src={capturedAboveLogo.src}
        alt="captured above"
        text="captured above"
              />
    </li>
    <li>
      I got my first freelance client less than 5 months after I started code, when I was still 14.
    </li>
  </ul>

  <h2 class="text-xl mt-8 sm:mt-12 md:mt-16">tech that I use</h2>
  <div class="mt-8 grid w-full grid-cols-4 border-l border-t border-white">
    {
      techStack.map((tech) => (
        <div class="group relative flex py-8 items-center justify-center overflow-hidden border-b border-r border-white transition-colors duration-300">
          <Image src={tech.icon} alt={tech.name} class="h-8 sm:w-10 w-8 sm:h-10" />
        </div>
      ))
    }
  </div>

  <h2 class="text-xl mt-16 sm:mt-24 md:mt-32">let's chat</h2>
  <div class="flex flex-col mt-8">
    <p class="text-sm text-white/70">
      in 2026 I'm on a mission to meet as many new people as possible.
    </p>
    <p class="text-sm text-white/70 mt-4">
      whether you're building something cool, exploring a wild idea, or just want to talk about
      rockets and climbing walls - I'm always down for a good conversation.
    </p>
    <a class="text-sm text-[#E56717] mt-4 underline" href="/chat">book a time &rarr;</a>
    <p class="text-sm text-white/70 mt-4">
      this is a convenient way to do it, but I'd honestly rather you just DM me :p<br />{" "}
      <a
        href="https://x.com/oscarfalll"
        target="_blank"
        class="text-[#E56717] hover:underline"
        onclick="window.posthog?.capture('social_link_clicked', { platform: 'X' })">Twitter</a
      >{" "}
      /{" "}
      <a
        href="https://linkedin.com/in/oscarfalemara"
        target="_blank"
        class="text-[#E56717] hover:underline"
        onclick="window.posthog?.capture('social_link_clicked', { platform: 'LinkedIn' })"
        >LinkedIn</a
      > - DMs are open.
    </p>
  </div>
</PageLayout>
