---
import { Image } from "astro:assets";
import oscaramaLogo from "@/assets/oscarama.png";
import backgroundTexture from "@/assets/background-texture.png";
import githubIcon from "@/assets/socials/github.svg";
import linkedinIcon from "@/assets/socials/linkedin.svg";
import xIcon from "@/assets/socials/x.svg";
import calendarIcon from "@/assets/socials/cal-com.svg";
// import emailIcon from "@/assets/socials/email.svg";

const socialLinks = [
  { href: "https://cal.oscarama.dev", icon: calendarIcon, label: "Calendar" },
  { href: "https://github.com/thereal-atom", icon: githubIcon, label: "GitHub" },
  {
    href: "https://linkedin.com/in/oscarfalemara",
    icon: linkedinIcon,
    label: "LinkedIn",
  },
  { href: "https://x.com/oscarfalll", icon: xIcon, label: "X" },
  // { href: "mailto:hello@oscarama.dev", icon: emailIcon, label: "Email" },
];
---

<header class="sticky top-0 z-50">
  <div class="flex justify-center pb-4">
    <div
      class="relative flex items-center justify-between w-full sm:w-2xl md:w-3xl px-6 pt-8 pb-4 bg-[#101010]"
    >
      <div
        class="pointer-events-none absolute inset-0"
        style={`background-size: 64px; background-repeat: repeat; background-image: url(${backgroundTexture.src}); opacity: 0.06;`}
      >
      </div>
      <div class="flex flex-row items-center">
        <a href="/" class="gap-2 hover:opacity-80 transition-opacity">
          <Image src={oscaramaLogo} alt="oscarama" class="w-8 h-8 rounded-sm" />
        </a>
        <div class="flex flex-row items-center ml-8 gap-6">
          <a href="/events" class="text-sm hover:opacity-70 transition-opacity">events</a>
          <a href="/chat" class="text-sm hover:opacity-70 transition-opacity">let's chat</a>
        </div>
      </div>
      <nav class="relative flex items-center gap-6">
        {
          socialLinks.map((link) => (
            <a
              href={link.href}
              aria-label={link.label}
              target="_blank"
              rel="noopener noreferrer"
              class="hover:opacity-70 transition-opacity duration-200"
              onclick={`window.posthog?.capture('social_link_clicked', { platform: '${link.label}' })`}
            >
              <Image src={link.icon} alt={link.label} class="h-5 w-auto" width={20} height={20} />
            </a>
          ))
        }
      </nav>
    </div>
  </div>
</header>
